@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Goblin One', cursive;
}

.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .4rem solid black;
    margin: 1rem;
    padding: 1rem 0.5rem; 
    font-size: 1.5rem;
    transition: all 0.07s ease-in-out;
    width: 10rem;
    text-align: center;
    color: rgb(255, 0, 0);
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #28ce12;
    box-shadow: 0 0 1rem #2e6409;
  }

kbd {
    display: block;
    font-size: 2rem;
    font-family: 'Goblin One', cursive;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #30e718;
  }
  